transformers 
datasets 
langchain-core 
langchain 
langchain-community 
langchain-google-genai 
langchain_chroma 
langchain-text-splitters 
sentence-transformers 
langchain-huggingface
streamlit
sqlite3 >= 3.35.0